



.card-body{
  overflow: hidden;
  margin:auto;
  position:relative;
  padding: 0rem !important; 
  border-radius: 25px;
  height: 25em;
  width: 55em;
  background-color: rgb(0, 0, 0);



}

.card_imageA{

  width: 40%;
 

}

#card_image{

width: 50em;
display: flex;
color: white;
}


#card_info{
  left:2em;
  top:6em;
position: relative;
text-align: left;
  color: white;


}

.info_fontA{

  font-size: 3.5em;
}

.info_fontB{

  font-size: 2em;
}

.info_fontC{
  font-size: 2em;
  color: beige;
}







/*  -----  Widget - Social Profile  -----  */
/* .xp-social-profile-avatar img {
  border-radius: 25px;
  border: 2px solid #73AD21;
margin-top: -10px;
}
.xp-social-profile-avatar .xp-social-profile-live {
position: absolute;
bottom: 15px;
margin: 0px -20px;
width: 15px;
height: 15px;
border-radius: 50%;
border: 2px solid #ffffff;
background-color: #2bcd72;
} */

/* .text-black {
  color: #555555 !important;
}
.mb-1, .my-1 {
  margin-bottom: .25rem!important;
}
.mt-1, .my-1 {
  margin-top: .25rem!important;
}
.h5, h5 {
  font-size: 1.25rem;
} */

/* .card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
  border-bottom: 1px solid rgba(85, 85, 85, 0.05);
}
.bg-white {
  background-color: #ffffff !important;
}

.card {
  border: none;
  box-shadow: 0 0 30px 0 rgba(200, 200, 200, 0.2);
}
.m-b-30 {
  margin-bottom: 30px;
} */